<!DOCTYPE html>
<html ng-app="bracketApp">
    <head>
        <meta charset="ISO-8859-1">
        <title>Get your bracket</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="bracket.js"></script>
    </head>
    <body ng-controller="bracketControl">
    <div>
        <input type="text" placeholder="Enter name" ng-model="targetPlayer"/>
        <input type="submit" ng-click="findBracket()"/>
    </div>
    <!-- bracket goes here -->
    <div ng-show="showingBracket">
        <br>
        <br>
        <br>
        <hr>
        <div>{{bracketToDisplay.bracketName}}</div>
        <div ng-repeat="r in bracketToDisplay.rounds">
            <div ng-repeat="m in r.matches">
                {{m.player1}} - {{m.player2}}
            </div>
        </div>
    </div>
    </body>
</html>
